html{
    --bg-dark-color : #000814;
    --nav-bg : white;
    --nav-link-color : var(--bg-dark-color);
    --nav-glow : #4ea8de;
    --text-color : #000814;
}
html[data-theme = "light"]{
  --bg-dark-color : white;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : var(--bg-dark-color);
  overflow: hidden;
}
:root {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas{
  position:absolute;
  top:0;
  left:0;
}



.nav-container{
  display: none;

  position: absolute;

  margin-left : 2rem;
  /* transform: translateX(-200%); */
}

.nav-list{
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.nav-item{
  display: inline-block;
  z-index : 10;

}
.button-box{
  z-index: 11;
  margin-right : 1rem;
  background: var(--nav-bg);
  height : 2.5rem;
  box-shadow: 3px 3px 7px -1.1px rgba(56,56,56,0.39);
  border-radius: 5rem;
  text-align: center;
  width : 6rem;
}
.nav-item p {
  margin:0;
  font-size: 0.9rem;
  cursor:default;
}
.nav-item a{
  margin:0;
  font-size: 0.9rem;
}
a{
  text-decoration: none;
}

.vcenter{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vhcenter{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horizontal-center{
  /* margin-top:10%; */
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index : 1;
}
.horizontal-bottom-center{
  position: absolute;
  left: 50%;
  top: 95%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heading {
  color : var(--nav-bg);
  font-size: 5rem;
  cursor: default;
  letter-spacing: 4rem;
  margin-right:-4rem;
}
.small-heading {
  color : var(--nav-bg);
  font-size: 1rem;
  cursor: default;
  letter-spacing: 1rem;
  margin-right:-4rem;
  justify-content: center;
}


.top-margin{
  margin-top : 3rem;
}

.bottom-margin{

  margin-bottom: 3rem;
}
.nav-item:hover{
  color : var(--nav-glow);
}

.nav-sphere{
  opacity: 1;
  position: absolute;
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 2;
  background: var(--nav-bg);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  animation: spin 3s infinite;
  animation-play-state: paused;
  box-shadow: 3px 3px 7px -1.1px rgba(56,56,56,0.39);
  text-align: center;
}
.nav-sphere svg{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill : var(--text-color);

}
.nav-sphere:hover{
  opacity: 1;
  fill : var(--nav-glow);
  animation-play-state: running;
}

.expand-nav-on{
  display: none;
  height: 1rem;
  width: 1rem;
}
.expand-nav-off{
}
@keyframes spin {
  100% {transform: rotate(1turn); }
}

.get-started-button{
  margin:0;
  font-size: 0.9rem;
  cursor:default;
  color : var(--text-color);
}

.little-top-margin{
  margin-top: 12vh;
}

.button-container{
  display: inline-block;
  background: var(--nav-bg);
  height : 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10rem;
  text-align: center;
  width : 5rem;


}
.button-container p:hover{
  color : var(--nav-link);
}
.border-container{
  position: absolute;
  margin-top:10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* border: 3px solid var(--nav-glow); */
  box-shadow: 0 0 20pt 0.15rem var(--nav-glow);
  border-radius: 10rem;
  animation: breath 1.6s linear infinite;
  animation-play-state: running;

}
.border-container:hover{
  animation-play-state: paused;
}
@keyframes breath {
  0%{
    padding: 0;
  }
  25%{
    padding: 0.3rem;
  }
  50%{
    padding: 0.6rem;
  }
  75%{
    padding: 0.3rem;
  }
  100%{
    padding: 0rem;
  }
}
canvas{
  display: block;
  position: fixed;
  z-index: -1;
}

.left-button{
  position: absolute;
  z-index: 3;
  display: inline-block;
  background-color: black;
  height: 50vh;
  width: 15vw;
  margin-top : 25vh;
}
.right-button{
  position: absolute;
  z-index: 3;
  right : 0;
  background-color: black;
  height: 50vh;
  width: 15vw;
  margin-top : 25vh;
}

.opacity0{
  opacity: 0;
}

a:link,a:visited{
  color : var(--text-color);
}
a:active,a:hover{
  color : var(--nav-glow);
}

/* @keyframes spin {
  0% {
    filter: drop-shadow(0px 0px 1px var(--nav-glow));
  }
  50% {
    filter: drop-shadow(0px 0px 10px var(--nav-glow));
  }
  100% {
    filter: drop-shadow(0px 0px 1px var(--nav-glow));
  }
} */
/* .nav-container:hover{
  display : inline;
} */
.input-box{
  display: inline-block;
  text-decoration-style: none;
  border-color: var(--text-color);
  border-radius: 5rem;
  font-size: 1.3rem;
  border-width: 0px;
  outline : none;
  resize : none;
  background: var(--input-color);
  width: 6rem;
  height: 2.5rem;
  padding : 1rem;
  color : var(--text-light-color);
}

.page-no{
  position:fixed;
  right:0;
  bottom:0;
  margin-bottom:1rem;
  margin-right:1.7rem;
  background: var(--nav-bg);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: 3px 3px 7px -1.1px rgba(56,56,56,0.39);
  text-align: center;
}
.page-no-text{
  margin : 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image-container{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.bg-image{
  margin : 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.make-unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
